<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>to</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
  <a href="#main-content" class="skip">Skip to main content.</a>
  <header class="masthead">
    <nav>
      <h1 class="blog-title"><a href="http://to.tisellano.com">to</a></h1>
      <ul>
      	<li><a href="/">Home</a></li>
      	<li><a href="/new">New</a></li>
      </ul>
    </nav>
  </header>
  <main role="main" id="main-content">
  	<div id="links">
  		<article class="single links-by-month">
		    <ul>
			<% @links.each do |l| %>
				<li>
					<span class="link-title">
						<a class="link-link" href="<%= l.url %>"><%= l.name %></a>
						<small class="link-source"><%= l.url %></small>
					</span>
				</li>
			<% end %>
			</ul>
  		</article>
  	</div>
  </main>
  <footer class="blog-colophon">
    <section class="about">
      Bookmarklet: <a href="javascript:(function(){location.href='http://to.tisellano.com/new?url='+encodeURIComponent(location.href);})();">Drag Me</a>
  </section>
  </footer>
</body>
</html>
