<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>go.tisellano.com</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
  <a href="#main-content" class="skip">Skip to main content.</a>
  <header class="masthead">
    <nav>
      <h1 class="blog-title"><a href="http://go.tisellano.com">go.tisellano.com</a></h1>
      <ul>
      	<li><a href="/">Home</a></li>
      	<li><a href="/new">New</a></li>
      </ul>
    </nav>
  </header>
  <main role="main" id="main-content">
  	<div id="links">
  		<article class="single links-by-month">
        <% unless @message.nil? %>
        <div style="color: red; font-weight: bold; margin-bottom: 10px;"><%= @message %></div>
        <% end %>
		    <form method="POST" action="./new">
          <div class="form-field">
            <label for="name">Name</label>
            <input type="text" name="name" value="<%= params[:name] %>" autofocus/>
          </div>
          <div class="form-field">
            <label for="url">URL</label>
            <input type="text" name="url" value="<%= params[:url] || 'http://' %>" />
          </div>
          <input type="submit" value="Submit" />
        </form>
  		</article>
  	</div>
  </main>
</body>
</html>